/* style.css */
body {
    font-family: Arial, sans-serif;
}

#search-section, #upload-section {
    margin-bottom: 20px;
}

#results-section img {
    width: 100px;
    height: auto;
    margin: 10px;
}
